Options -Indexes

RewriteEngine on

# ErrorDocument 404 /app/controller/error.php

# Site
RewriteRule ^$ app/controller/siteController.php?action=home [QSA,L]
RewriteRule ^sign_up/?$ app/controller/siteController.php?action=sign_up [QSA,L]
RewriteRule ^register/?$ app/controller/siteController.php?action=register [QSA,L]
RewriteRule ^sign_in/?$ app/controller/siteController.php?action=sign_in [QSA,L]
RewriteRule ^process_sign_in/?$ app/controller/siteController.php?action=process_sign_in [QSA,L]
RewriteRule ^sign_out/?$ app/controller/siteController.php?action=sign_out [QSA,L]
RewriteRule ^add_playlist/?$ app/controller/siteController.php?action=add_playlist [QSA,L]
RewriteRule ^create_playlist/?$ app/controller/siteController.php?action=create_playlist [QSA,L]
RewriteRule ^search/?$ app/controller/siteController.php?action=search [QSA,L]

RewriteRule ^add_to_playlist/([0-9]+)/([0-9]+)/(.*)$/?$ app/controller/siteController.php?action=add_to_playlist&playlist_id=$1&content_id=$2&title=$3 [QSA,L]
RewriteRule ^playlist/([0-9]+)$/?$ app/controller/siteController.php?action=playlist&playlist_id=$1 [QSA,L]
RewriteRule ^content_preview/([0-9]+)$/?$ app/controller/siteController.php?action=content_preview&content_id=$1 [QSA,L]
RewriteRule ^delete_item/([0-9]+)/([0-9]+)$/?$ app/controller/siteController.php?action=delete_item&playlist_id=$1&content_id=$2 [QSA,L]
RewriteRule ^edit/([0-9]+)$/?$ app/controller/siteController.php?action=edit&playlist_id=$1 [QSA,L]
RewriteRule ^delete_playlist/([0-9]+)$/?$ app/controller/siteController.php?action=delete_playlist&playlist_id=$1 [QSA,L]
RewriteRule ^my_account/([0-9]+)$/?$ app/controller/siteController.php?action=my_account&user_id=$1 [QSA,L]
RewriteRule ^change_password/([0-9]+)$/?$ app/controller/siteController.php?action=change_password&user_id=$1 [QSA,L]
RewriteRule ^delete_account/([0-9]+)$/?$ app/controller/siteController.php?action=delete_account&user_id=$1 [QSA,L]

RewriteRule ^contact/?$ app/controller/siteController.php?action=contact [QSA,L]
RewriteRule ^terms/?$ app/controller/siteController.php?action=terms [QSA,L]
RewriteRule ^privacy/?$ app/controller/siteController.php?action=privacy [QSA,L]


RewriteRule ^script/?$ app/controller/siteController.php?action=script [QSA,L]
